trigger: 
  - main
pool: Terraformkaagentpool
stages:
  - stage: TerraformInitPlanvalidateapply
    displayName: Terraform Init Plan validate apply 
    jobs:
      - job: TerraformInitPlanvalidateapply
        displayName: Terraform Init Plan validate apply
        steps:
          - task: TerraformInstaller@1 
            displayName: TerraformInstaller
            inputs:
              terraformVersion: '1.14.2'
          - task: TerraformTask@5
            displayName: TerraformInit
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Moudle/'
              backendServiceArm: 'terraformkaservicsconnationhai'
              backendAzureRmStorageAccountName: 'todoaapstaogeaccount'
              backendAzureRmContainerName: 'rectagebuildkeliye'
              backendAzureRmKey: 'ashish.terraformvars'
          - task: TerraformTask@5
            displayName: Terraformvalidate
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Moudle/'
          - task: TerraformTask@5
            displayName: Terraformplan
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Module/'
              environmentServiceNameAzureRM: 'terraformkaservicsconnationhai'
          - task: TerraformTask@5
            displayName: Terraformapply
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Moudle/'
              environmentServiceNameAzureRM: 'terraformkaservicsconnationhai'
          